*.exe
*.dll
*.obj
*.pdb
*.ncb
*.opendb
*.sdf
*.cache
*.pid
*.log
*.sln
*.vcproj
*.vcxproj
*.vcxproj.filters
*.suo
*.user
*.userosscache
*.sln.docstates
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.txt
node_modules
vendor
*state*.json